<h1>Insert pirate and ships</h1>
<form method="post" action="/pirates/show">
  <input type="text" name="pirate[name]">
  <input type="text" name="pirate[weight]">
  <input type="text" name="pirate[height]">
  
  <
