<h1>Insert pirate and ships</h1>
<form method="post" action="/pirates/show">
  <label for="pirate[name]">Pirate's name:</label>
  <<input type="text" name="pirate[name]">
  <input type="text" name="pirate[weight]">
  <input type="text" name="pirate[height]">

  <
