<h1>Insert pirate and ships</h1>
<form method="post" action="/pirates">
  <label for="pirate">Pirate's name:</label>
    <input type="text" id="pirate"name="pirate[name]">
    <input type="text" name="pirate[weight]">
    <input type="text" name="pirate[height]">
  <label for="ship_name_1">Ship 1:</label>
    <input id="ship_name_1" type="text" name="pirate[ships][][name]">
    <input id="ship_type_1" type="text" name="pirate[ships][][type]">
    <input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <label for="ship_name_2">Ship 2:</label>
    <input id="ship_name_2" type="text" name="pirate[ships][][name]">
    <input id="ship_type_2" type="text" name="pirate[ships][][type]">
    <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  <input type="submit" id="submit">
